<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <menuitem 
            name="Booking" 
            id="booking_main"
            parent="sale.sale_menu_root" 
            sequence="5"/>

        <menuitem 
            name="Booking Order" 
            id="booking_order_main"
            parent="booking_main"
            action="booking_order_action"
            sequence="1"/>

        <menuitem 
            name="Work Order" 
            id="work_order_main"
            parent="booking_main"
            action="work_order_action"
            sequence="2"/>

        <menuitem 
            name="Service Team" 
            id="service_team_main"
            parent="booking_main"
            action="service_team_action" 
            sequence="3"/>
    </data>
</odoo>